<%- include('partial/header') %>

<!-- main starts here -->
<main>
  <section class="banner d-flex align-items-center justify-content-center">
    <div class="container">
      <div class="banner_content">
        <!-- <h1>All the Musical Instruments in one shop</h1> -->
        <h1>All the <br />Musical Instruments in one shop</h1>
        <p>
          Explore a world of music with premium instruments and expert guidance.
          Elevate your skills and passion today!
        </p>
        <a href="list.html" class="button bg_color d-inline-block">
          Browse Collection <i class="las la-arrow-right"></i>
        </a>
      </div>
    </div>
  </section>

  <!-- partners -->
  <section class="partners">
    <div class="container">
      <div class="partners_wrap">
        <div class="partners_wrap_carousel rounded p-3 owl-carousel">
          <% brands.forEach((brand) => { %>
          <div class="partners_block">
            <a href="/product-category/<%= brand.name  %>">
              <img src="/uploads/<%= brand.img %>" alt="<%= brand.name %>" />
            </a>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </section>

  <!-- editor -->
  <section class="spacing border-top">
    <div class="container">
      <div class="heading center">
        <h1>New Arrival Instruments</h1>
        <p>
          Pellentesque mattis mauris ac tortor volutpat, eu fermentum sapien
          euismod. In id tempus metus. Donec eu volutpat nibh, in maximus
          ligula.
        </p>
      </div>

      <div class="hot_courses owl-carousel">
        <% if (productsData.length > 0) { %> <% productsData.forEach((product,
        index) => { %>

        <div class="course_block" data-id="<%= index + 1 %>">
          <img src="/uploads/<%= product.img %>" alt="<%= product.title %>" />
          <div class="course_time">New</div>
          <div class="course_content">
            <h3>
              <a href="/products/<%= product.id %>"><%= product.title %></a>
            </h3>
            <p><%= product.description %></p>
            <div class="info_course_block">
              <div class="price">
                <span>CA$<%= product.price %></span>
                <span class="price_deduct">CA$<%= product.price %></span>
              </div>

              <button class="add_cart btn btn-primary mt-2 btn-sm">
                Add to cart <i class="las la-shopping-cart"></i>
              </button>
            </div>
          </div>
        </div>
        <% }) %> <% } else { %>
        <p>No instruments found.</p>
        <% } %>
      </div>

      <div class="read_more">
        <a
          href="list.html"
          class="button bg_color bg_hover_color d-inline-block"
        >
          Read More <i class="las la-arrow-right"></i>
        </a>
      </div>
    </div>
  </section>

  <!-- editors -->
  <section class="events_section spacing desc_sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="desc_sec_left">
            <h1>
              Top Sell <br />
              Electirc Guitar
            </h1>
            <p>
              Experience the latest top-selling electric guitar, known for its
              exceptional sound quality and sleek design.
            </p>

            <div class="desc_price">Starting from CAD 500</div>

            <div class="desc_order">
              <button class="button bg_color">Order Now</button>
              <button class="button no_bg">View Details</button>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="desc_sec_right_img desc_img">
            <img src="/img/guitar.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- news -->
  <section class="events_near_section spacing">
    <div class="container">
      <div class="heading center">
        <h1>Courses Recommended for You</h1>
        <p>
          Pellentesque mattis mauris ac tortor volutpat, eu fermentum sapien
          euismod. In id tempus metus. Donec eu volutpat nibh, in maximus
          ligula.
        </p>
      </div>

      <div class="recomended_course owl-carousel">
        <!--  -->
        <% instruments.forEach((instrument, index) => { %>
        <div class="course_block" data-id="<%= index + 1 %>">
          <img
            src="<%= instrument.InstrumentImage %>"
            alt="<%= instrument.InstrumentName %>"
          />
          <div class="course_time">New</div>
          <div class="course_content">
            <h3>
              <a href="details.html"><%= instrument.InstrumentName %></a>
            </h3>
            <p><%= instrument.InstrumentShortDesc %></p>

            <div class="info_course_block">
              <div class="price">
                <span>CA$59</span>
                <span class="price_deduct">CA$59</span>
              </div>

              <button
                class="add_cart btn btn-primary mt-2 btn-sm"
                id="add_cart"
              >
                Add to cart
                <i class="las la-shopping-cart"></i>
              </button>
            </div>
          </div>
        </div>
        <% }) %>
      </div>

      <div class="read_more">
        <a
          href="list.html"
          class="button bg_color bg_hover_color d-inline-block"
        >
          Read More <i class="las la-arrow-right"></i>
        </a>
      </div>
    </div>
  </section>

  <!-- new -->
  <section class="events_section spacing desc_sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">dsfd</div>
        <div class="col-lg-6">
          <div class="desc_sec_right">
            <h1>
              Just Arrived!<br />
              Yamaha Drum Set
            </h1>
            <p>
              Elevate your rhythm with the latest Yamaha Drum Set, crafted for
              both beginners and professionals. Designed for powerful sound,
              durability, and precision, it's the perfect addition to any
              drummer’s setup.
            </p>
            <div class="desc_price">Starting from CAD 500</div>

            <div class="desc_order">
              <button class="button bg_color">Order Now</button>
              <button class="button no_bg">View Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sponser_section spacing">
    <div class="container">
      <div class="heading center">
        <h1>Have a Look into at our store</h1>
        <p>
          Pellentesque mattis mauris ac tortor volutpat, eu fermentum sapien
          euismod. In id tempus metus. Donec eu volutpat nibh, in maximus
          ligula.
        </p>
      </div>

      <div class="new_wrap owl-carousel">
        <div class="course_block" data-id="1">
          <img
            src="https://img-c.udemycdn.com/course/240x135/567828_67d0.jpg"
            alt=""
          />
          <div class="course_time">New</div>
          <div class="course_content">
            <h3>
              <a href="details.html">Introduction to Python</a>
            </h3>
            <p>Mark justin</p>
            <div class="course_info">
              <div class="hours">19.5 total hours</div>
              <div class="lectures">185 lectures</div>
            </div>
            <div class="price">CA$59</div>
            <button class="add_cart btn btn-primary mt-2 btn-sm" id="add_cart">
              Add to cart
            </button>
          </div>
        </div>
        <div class="course_block" data-id="2">
          <img
            src="https://img-c.udemycdn.com/course/240x135/1362070_b9a1_2.jpg"
            alt=""
          />
          <div class="course_time">Best Seller</div>
          <div class="course_content">
            <h3>
              <a href="details.html"> React - The complete Guide 2024 </a>
            </h3>
            <p>Mark justin</p>
            <div class="course_info">
              <div class="hours">19.5 total hours</div>
              <div class="lectures">185 lectures</div>
            </div>
            <div class="price">CA$59</div>
            <button class="add_cart btn btn-primary mt-2 btn-sm" id="add_cart">
              Add to cart
            </button>
          </div>
        </div>
        <div class="course_block" data-id="3">
          <img
            src="https://img-c.udemycdn.com/course/240x135/705264_caa9_13.jpg"
            alt=""
          />
          <div class="course_time">Best Seller</div>
          <div class="course_content">
            <h3>
              <a href="details.html"> Modern React with Redux </a>
            </h3>
            <p>Mark justin</p>
            <div class="course_info">
              <div class="hours">19.5 total hours</div>
              <div class="lectures">185 lectures</div>
            </div>
            <div class="price">CA$59</div>
            <button class="add_cart btn btn-primary mt-2 btn-sm" id="add_cart">
              Add to cart
            </button>
          </div>
        </div>
        <div class="course_block" data-id="4">
          <img
            src="https://img-c.udemycdn.com/course/240x135/2776760_f176_10.jpg"
            alt="Course Image"
          />
          <div class="course_time">Best Seller</div>
          <div class="course_content">
            <h3>
              <a href="details.html">
                100 Days of Code: The Complete Python Pro Bootcamp
              </a>
            </h3>
            <p>Jose Portilla, Pierian Training</p>
            <div class="course_info">
              <div class="hours">58.5 total hours</div>
              <div class="lectures">61 lectures</div>
            </div>
            <div class="price">CA$49.99</div>
            <button class="add_cart btn btn-primary mt-2 btn-sm" id="add_cart">
              Add to cart
            </button>
          </div>
        </div>
        <div class="course_block" data-id="5">
          <img
            src="https://img-c.udemycdn.com/course/240x135/543600_64d1_4.jpg"
            alt="Course Image"
          />
          <div class="course_time">Best Seller</div>
          <div class="course_content">
            <h3>
              <a href="details.html">
                Automate the Boring Stuff with Python Programming
              </a>
            </h3>
            <p>AI Sweigart</p>
            <div class="course_info">
              <div class="hours">8.1 total hours</div>
              <div class="lectures">51 lectures</div>
            </div>

            <div class="price">CA$149.99</div>
            <button class="add_cart btn btn-primary mt-2 btn-sm" id="add_cart">
              Add to cart
            </button>
          </div>
        </div>
      </div>

      <div class="read_more">
        <a
          href="list.html"
          class="button bg_color bg_hover_color d-inline-block"
        >
          Read More <i class="las la-arrow-right"></i>
        </a>
      </div>
    </div>
  </section>

  <!-- testimonial -->
  <section class="sponser_section spacing border-top">
    <div class="container">
      <div class="heading center">
        <h1>What Our Clients Say</h1>
        <p>
          Pellentesque mattis mauris ac tortor volutpat, eu fermentum sapien
          euismod. In id tempus metus. Donec eu volutpat nibh, in maximus
          ligula.
        </p>
      </div>

      <div class="testimonial-slider owl-carousel">
        <div class="testimonial-block">
          <div class="testimonial-content">
            <div class="icon">
              <i class="las la-quote-left"></i>
            </div>
            <p>
              Easy to use platform, got my tickets hassle-free! Will definitely
              use again!" (by Josh Peck) "Impressed with the quick and secure
              ticketing process. Thanks for making concert-going stress-free!
            </p>
            <div class="testimonial-user">
              <h5>Drake Bell</h5>
              <span>Organization name</span>
            </div>
          </div>
        </div>
        <div class="testimonial-block">
          <div class="testimonial-content">
            <div class="icon">
              <i class="las la-quote-left"></i>
            </div>
            <p>
              Super impressed with the range of payment options and the security
              measures in place. Top-notch service!
            </p>
            <div class="testimonial-user">
              <h5>Chloe Shaym</h5>
              <span>Organization name</span>
            </div>
          </div>
        </div>
        <div class="testimonial-block">
          <div class="testimonial-content">
            <div class="icon">
              <i class="las la-quote-left"></i>
            </div>
            <p>
              Appreciate the transparency and reliability of this ticketing
              system. Makes planning outings a breeze!
            </p>
            <div class="testimonial-user">
              <h5>Randy Roller</h5>
              <span>Organization name</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- scroll-up -->
  <button class="scroll_up button" id="scrollUp">
    <i class="las la-long-arrow-alt-up"></i>
  </button>
</main>
<!-- main ends here -->
<%- include('partial/footer') %>
