<div class="profile_right">
  <h3>Order Info</h3>
  <div class="profile_right_block order_pge">
    <table>
      <thead>
        <tr>
          <th>ORDER</th>
          <th>DATE</th>
          <th>STATUS</th>
          <th>TOTAL</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <% orders.forEach(order => { %>
        <tr>
          <td>#<%= order.id %></td>
          <td><%= order.date %></td>
          <td><%= order.status %></td>
          <td>
            <strong><%= order.total %></strong> for <%= order.items %> items
          </td>
          <td>
            <a href="/my-account/order/<%= order.id %>" class="btn">View</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
