<%- include('../partial/header') %>

<!-- main starts here -->
<main>
  <section class="details_page pb-3">
    <div class="details_info">
      <div class="container">
        <div class="details_block">
          <h2><%= product.title %></h2>

          <div
            class="course_items d-flex flex-wrap column-gap-3 gap-md-3 gap-lg-4"
          >
            <div class="course_item">
              <i class="las la-tag"></i>
              <div><%= product.brand %></div>
            </div>
            <!-- <div class="course_item">
              <i class="las la-signal"></i>
              <div>All Levels</div>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
    <div class="details_bottom_info">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-9">
            <div class="details_page_left">
              <div class="row">
                <div class="col-lg-5">
                  <img src="/uploads/<%= product.img  %>" alt="" />
                </div>
                <div class="col-lg-7">
                  <h2><%= product.title %></h2>
                  <p><%= product.description %></p>
                  <div class="price mt-4">
                    <span class="cur"> $<%= product.price %> </span>
                    <span class="before"> $<%= product.prevPrice %> </span>
                  </div>

                  <div class="buy mt-3 gap-2">
                    <button class="btn btn-primary btn-md" type="button">
                      Buy now
                    </button>
                    <button
                      class="btn btn-primary add_cart btn-md"
                      type="button"
                    >
                      Add to cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-3">
            <div class="details_page_right_wrap">
              <div class="details_page_right_block">
                <h3>Share this Course</h3>
                <div class="details_page_right_block_wrap social_icon">
                  <a href="#!" target="_blank" class="facebook" title="facebook"
                    ><i class="lab la-facebook-f"></i>
                  </a>

                  <a
                    href="#!"
                    target="_blank"
                    class="instagram"
                    title="instagram"
                    ><i class="lab la-instagram"></i>
                  </a>

                  <a href="#!" target="_blank" class="twitter" title="twitter"
                    ><i class="lab la-twitter"></i
                  ></a>

                  <a href="#!" target="_blank" class="youtube" title="youtube"
                    ><i class="lab la-youtube"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- main ends here -->
<%- include('../partial/footer') %>
