<%- include('../partial/header') %>

<!-- main starts here -->
<main>
  <div class="about_banner">
    <div class="container">
      <div class="about_banner_content">
        <h1><%= brandName %></h1>
        <p><%= brandDesc %></p>
      </div>
    </div>
  </div>

  <!--  -->
  <section class="list_course">
    <div class="container">
      <div class="course_light_head mb-3">
        <h1>Search Result for : <%= brandName %></h1>
        <span><%= productCount %> results</span>
      </div>
      <div class="row">
        <% productsData.forEach((product) => { %>
        <div class="col-md-3">
          <div class="course-item">
            <div>
              <a href="/products/<%= product?.id %>" class="img_list_product">
                <img
                  src="/uploads/<%= product.img %>"
                  alt="<%= product.title %>"
                />
              </a>
            </div>
            <div class="course-info">
              <h2>
                <a href="/products/<%= product?.id %>">
                  <%= product.title %>
                </a>
              </h2>
              <p><%= product?.shortdesc %></p>
              <div class="course_detail">
                <span class="price">CA$<%= product.price %></span>
                <span> Like New </span>
              </div>
              <button
                class="add_cart btn btn-primary mt-2 btn-md"
                id="add_cart"
              >
                Add to cart
              </button>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </section>
</main>

<%- include('../partial/footer') %>
