<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <% sidebar.forEach(item => { %> <% if (item.type === "brand") { %>
  <a class="sidebar-brand" href="<%= item.link %>">
    <div class="sidebar-brand-icon">
      <i class="<%= item.icon %>"></i>
    </div>
    <div class="sidebar-brand-text"><%= item.title %></div>
  </a>
  <% } else if (item.type === "item") { %>
  <li class="nav-item <%= item.active ? 'active' : '' %>">
    <a class="nav-link" href="<%= item.link %>">
      <i class="<%= item.icon %>"></i>
      <span><%= item.title %></span>
    </a>
  </li>
  <% } else if (item.type === "collapse" && Array.isArray(item.items)) { %>
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-bs-toggle="collapse"
      data-bs-target="#<%= item.id %>"
      aria-expanded="false"
    >
      <i class="<%= item.icon %>"></i>
      <span><%= item.title %></span>
    </a>
    <div
      id="<%= item.id %>"
      class="collapse"
      data-bs-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner">
        <% item.items.forEach(sub => { %>
        <a class="collapse-item" href="<%= sub.link %>"><%= sub.title %></a>
        <% }) %>
      </div>
    </div>
  </li>
  <% } %> <% }) %>
</ul>
